* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-box {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.main-container {
  width: 500px;
  margin: 20px auto;
}
.card-container {
  border: 1px solid black;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.card {
  display: flex;
  align-items: center;
  gap: 40px;
}
.details {
  margin: 20px 0;
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.card-name {
  flex: 1;
}

.card-img {
  height: 50px;
  border: 0.5px solid black;
  border-radius: 50%;
  padding: 5px;
}
.card .toggle {
  justify-self: end;
  font-size: 30px;
  cursor: pointer;
}

.card-actions {
  text-align: end;
}

.card-actions img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.delete-dailog {
  border: 1px solid black;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.btn {
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 20px;
  background-color: white;
  border: 1px solid black;
  margin-left: 10px;
}
.details-input {
  width: 140px;
  padding: 5px 15px;
  border-radius: 10px;
}

.desc-textarea {
  padding: 5px;
  width: 100%;
  resize: none;
  height: 80px;
  border-radius: 10px;
}

.f-500{
  font-weight: 500;
}
.mb-2{
  margin-bottom: 2px;
}